/*#region BASIC STYLE*/
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#root {
  background: linear-gradient(180deg, #ffede1, #b9b9b9);
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

html::-webkit-scrollbar {
  width: 5px;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-thumb {
  background: #f995847d;
}

html::-webkit-scrollbar-track {
  background: linear-gradient(352deg, #030703bf, #343434);
}

a {
  text-decoration: none !important;
  color: #242424 !important;
}

.navbar-brand {
  pointer-events: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.react-logo {
  margin-right: 1vw;
  animation: App-logo-spin infinite 5s linear;
}

.bootstrap-logo {
  max-width: 54px;
  margin-right: 1vw;
  transition: .2s ease-in-out transform;
}

.bootstrap-logo:hover {
  transform: rotate(-5deg) scale(1.1);
}

.bdevelopment-logo {
  max-width: 96px;
}

/*#endregion BASIC STYLE*/

/*#region MAIN PAGE*/
.main {
  height: 617px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main>.form-trainer {
  width: 360px;
}

.title-intro {
  font-size: 96px;
  font-weight: 700;
  font-family: fantasy;
  display: flex;
  justify-content: space-evenly;
}

.title-intro>span>img {
  width: 90px;
}

.title-intro>span {
  background: url(/src/assets/Media/imgs/texture.png);
  background-repeat: repeat;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .5s ease;
  margin: 0 5px;
}

.title-intro>span:hover {
  transform: translateY(-2px);
  transition: all .5s ease;
}

/*#endregion MAIN PAGE*/

/*#region ICON GO OUT*/
.go-out {
  transform: translateY(-25px);
}

.go-out>a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  background: linear-gradient(180deg, #242424, #161616);
  padding: 10px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  gap: 5px;
  overflow: hidden;
  border: solid 1px #000000;
}

.go-out>a>strong {
  color: #ffffff;
}

.go-out>a>label {
  position: absolute;
  color: #ffffff;
  cursor: pointer;
  background: linear-gradient(180deg, #fa8072, #dc3545);
  font-weight: 600;
  font-size: 22px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  opacity: 0;
  transform: translateY(-15px);
  transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.go-out>a:hover>label {
  opacity: 1;
  transform: translateY(0px);
  transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.go-out>a>img {
  width: 26px;
}

/*#endregion ICON GO OUT*/

/*#region PAGINATION*/

.paginations {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dc3546b9;
  margin-top: 8px;
  box-shadow: inset 0 0 20px 0px #fa8072a7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.list-paginations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px;
  margin: 0;
}

.list-paginations>li {
  list-style: none;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
  background: linear-gradient(180deg, #141b18, #dc3546);
  margin: 10px;
  border-radius: 50px;
  color: #ffffff;
  transition: all .3s ease;
}

.list-paginations>li:hover,
.list-paginations>li.active {
  transform: translateY(-3px);
  background: linear-gradient(180deg, #770611, #141b18);
  box-shadow: 0 0 10px 0px #100604;
  transition: all .3s ease;
}


/*#endregion PAGINATION*/

/*#region CONTENTN-CARD && CARD*/
.content-card {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px !important;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 400px;
  transition: all .3s ease;
}

.poke-card {
  width: 250px;
  height: 400px;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all .3s ease;
  position: relative;
}

.poke-card:hover {
  box-shadow: 0 0 20px #242424;
  transform: translateY(-3px);
}

.poke-card>.body-card-event {
  position: absolute;
  width: 230px;
  height: 380px;
  border-radius: 15px;
  z-index: 1;
}


.poke-card>.inner-card {
  border-radius: 15px;
  border: solid 1px #cbc8c8ad;
  height: 100%;
}

.content-image {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.content-image>img {
  position: absolute;
  width: 160px;
}

.content-info {
  padding-top: 50px;
  text-align: center;
  height: 278px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(180deg, #ffffff, #fcfcfc);

}

.icon-types>ul {
  list-style: none;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 5px
}

.icon-types>ul>li>img {
  width: 32px;

}

.content-info>.name {
  font-weight: bold;
  user-select: text;
}

.content-info>h6 {
  margin: 0;
}

.content-info>hr {
  margin: 0 !important;
}

.content-info>.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.content-info>.stats>div {
  width: 40%;
}



/*#endregion CARD*/

/*#region POKEMON DETAIL*/
.pokemon-tittle>img {
  width: 200px;
}

.pokemon-detail {
  position: relative;
  min-height: 569px;
  background-image: url('/src//assets/Media/imgs/openpokeball.png');
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.pokemon-detail>.name-pokemon {
  background-color: #ffffffc7;
  text-align: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 48px;
}

.pokemon-detail>.pokemon-layout {
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  min-height: 90%;
  background-color: #ffffffc7;

}

.pokemon-layout>.row {
  padding: 0 15px;
}

.btn-back {
  position: absolute;
}

.pokemon-layout>.banner-type {
  height: 15px;
}

.pokemon-header {
  display: flex;
  align-items: center;
}

.pokemon-data {
  position: relative;
}

.pokemon-data>.variant-sprites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transform: translateY(-20px);
}

.pokemon-data>.variant-sprites>img {
  max-width: 96px;
}

.pokemon-status {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  padding: 0 15px;
}

.pokemon-status>hr {
  position: absolute;
  width: 90%;
  z-index: 0;

}

.pokemon-status>.weight,
.pokemon.status>.number-position,
.pokemon-status>.height {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #343434;
  margin: 0 !important;
  z-index: 1;
  justify-content: center;
}

.number-position {

  margin: 0;
  padding: 5px;
  z-index: 1;
  background: linear-gradient(180deg, #fcfcfc, #ffffff);
  border-radius: 10px;
}

.pokemon-status>.weight,
.pokemon-status>.height {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(180deg, #fcfcfcb5, #ffffffc4);
  transition: all .3s ease;
  cursor: pointer;
}

.pokemon-status>.weight:hover,
.pokemon-status>.height:hover {
  box-shadow: 0 0 20px #343434;
}

.pokemon-status>.weight:hover>img,
.pokemon-status>.height:hover>img {
  transform: translateY(-50px);
  opacity: 1;
  transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pokemon-status>.weight>img,
.pokemon-status>.height>img {
  position: absolute;
  width: 42px;
  opacity: 0;
  transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pokemon-status>.weight>small,
.pokemon-status>.height>small {
  font-size: 18px;
}

.icon-type-detail>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-type-detail>ul>li {
  display: flex;
  align-items: center;
}

.icon-type-detail>ul>li>img {
  width: 64px;
  transition: all .3s ease;
  cursor: pointer;
  border-radius: 50%;
}

.icon-type-detail>ul>li>img:hover {
  box-shadow: 0 0 20px #242424;
}


.icon-type-detail>ul>li>label {
  font-size: 24px;
  font-weight: bolder;
  transform: translateX(-35px);
  opacity: 0;
  transition: all .3s ease;
  pointer-events: none;
  transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-type-detail>ul>li>img:hover+label {
  opacity: 1;
  transform: translateX(5px);
  transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.layout-stats>.title-stats {
  text-align: center;
  margin-top: 10px;
}

.layout-stats {
  position: relative;
}

.layout-stats>img {
  position: absolute;
  top: 0;

}

.layout-stats>.abilities-img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);

}

.layout-stats>.moves-img {
  right: 0;
}




.layout-stats>.stats {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;

}

.layout-stats>.stats>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-stats>.stats>div>h3> {
  display: flex;
  align-items: center;
}

.layout-stats>.stats>div>h3>img {
  width: 32px;

}


.layout-stats>.abilities {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.layout-stats>.abilities>li {
  padding: 0 8px;
  border: solid 1px #343434;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all .3s ease;
}

.layout-stats>.abilities>li:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 2px 0px #343434;
  transition: all .3s ease;
}

.layout-stats>.body-moves {
  max-height: 220px;
  overflow-y: auto;
}

.layout-stats>.body-moves::-webkit-scrollbar {
  width: 10px;
}

.layout-stats>.body-moves::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #f1f1f1, #fcfcfc);
  border-radius: 25px;
}

.layout-stats>.body-moves::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #848484, #929292);
  border-radius: 25px;
  transition: all .3s ease;
}

.layout-stats>.body-moves::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #343434, #424242);
  border-radius: 25px;
  transition: all .3s ease;
}

.layout-stats>.body-moves>.moves {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.layout-stats>.body-moves>.moves>li {
  font-weight: 600;
  padding: 0 3px;
  transition: all .3s ease;
}

.layout-stats>.body-moves>.moves>li:hover {
  color: #343434 !important;
  box-shadow: 0 1px 4px -2px #343434;
  transition: all .3s ease;
}

.variant {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.variant>h2 {
  text-align: center;
}

.variant>.body-variant {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.variant>.body-variant>img {
  max-width: 226px;
}

/*#endregion*/


/*#region FOOTER STYLE*/
.footer-pokedex {
  bottom: 0;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.footer-pokedex>.footer-inner-up {
  background: linear-gradient(180deg, #242424, #161616);
  height: 100px;
  width: 100%;
}

.footer-pokedex>.footer-inner-down {
  background: linear-gradient(180deg, #ff0000, #b30000);
  height: 100px;
  width: 100%;

}

.footer-pokedex>.footer-inner-middle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-inner-middle>.pokeball-layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeball-layout>img {
  width: 180px;
}

.pokeball-layout>img,
.pokeball-layout>.gow-icon {
  position: absolute;
}

.pokeball-layout>.gow-icon {
  border-radius: 50%;
  animation: glow-buttom alternate infinite 1s ease;
  top: -5px;
  background: linear-gradient(180deg, #ff0000b5, #ed3030);
  width: 30px;
  height: 30px;
  box-shadow: 0 0 10px 15px #ff0000;
}

@keyframes glow-buttom {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



/*#endregion FOOTER STYLE*/