@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#root {
  background: linear-gradient(180deg, #ffede1, #b9b9b9);
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  user-select: none;
}

.navbar-brand {
  pointer-events: none;
  display: flex;
  align-items: center;
}

.react-logo {
  margin-right: 1vw;
  animation: App-logo-spin infinite 5s linear;
}

.bootstrap-logo {
  max-width: 54px;
  margin-right: 1vw;
  transition: .2s ease-in-out transform;
}

.bootstrap-logo:hover {
  transform: rotate(-5deg) scale(1.1);
}

.bdevelopment-logo {
  max-width: 96px;
}


